@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --color-primary: #6366f1;
  --color-primary-hover: #4f46e5;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  background: #f9fafb;
  color: #111827;
}

.w-md-editor {
  --md-editor-background-color: #fff !important;
  height: 500px !important;
}
